<%- include("partials/header.ejs")  %> 

<h2 id="success_name">Hello <%= name %> 👋</h2>

<div class="text-center" style="margin-top:10px;">
    <a href="/student_logout" class="btn btn-success">Logout</a>
</div>

    </div>
